<h2>Data Store Totals</h2>
<p><b>Total Alchemy API points consumed:</b> <%= Document.sum(:transaction_count) %></p>
<p><b>Number of document analysis returns:</b> <%= Document.count %></p>

<h2>Analysis Results</h2>
<% @documents.each do |document| %>
  <p><b>Title: </b> <%= link_to document.title, document %></p>
  <p><b>Author: </b> <%= document.author %></p>
  <p><b>URL: </b> <%= document.url %></p>
	<p><b>Date Retrieved:</b> <%= document.created_at %></p>
<HR>
<% end %>

